.form-signin {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10px;

  form {
    border-radius: 1.35em;
    background-color: var(--color-bg-form);
  }

  h1 {
    margin-bottom: 10px;
  }

  form {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  input,
  button {
    width: map-get($_grid-breakpoints, sm) / 2;
  }

  .error-text {
    display: block;
    margin-bottom: 5px;
    margin-top: -5px;
    color: $_color-red;
  }
}
