// ==========================================================================
// ZONE
// ==========================================================================

.o-zone {
  padding: $_doc_line_base * 2 $_doc_line_base !important;
 // background-color: $_color-white;

  @include clearfix();

  &__head {
    position: relative;
    padding-top: _em(25px);
    padding-bottom: _em(25px);
  }
}
