.form-signin {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  flex-direction: column;

  form {
    width: map-get($_grid-breakpoints, sm) / 2;
  }
}
